<div class="image-head">

</div>

<div class="row my-5">
  <table>
    <tr>
      <td class="col-md-7"></td>
      <td class="col-md-5">
        
        <table class="table-date">
          <tr>
            <td>
              <div>FECHA DE IMPRESIÓN:</div>
            </td>
            <td>
              
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  </section>
</div>



<div class="my-5">
  <table class="col-md-12 bg-light">
    <tr>
      <td class="px-3">
        <div>
          <table class="mini-table">
            <tr>
              <td class="mini-table-static">
                <div>Ticket:</div>
              </td>
              <td>
                <div>

                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="my-2">
          <div>Asegurado</div>
          <section class="border border-dark  form-control bg-light mx-1">
             
          </section>
        </div>

        <div class="my-3">
          <table class="mini-table">
            <tr>
              <td class="mini-table-static-large">
                <div>Medico Tratante:</div> 
              </td>
              <td>
                <div>
                  
                </div> 
              </td>
            </tr>
          </table>
        </div>

        <div class="my-2">
          <table class="mini-table">
            <tr>
              <td class="mini-table-static">
                <div>Hospital:</div> 
              </td>
              <td>
                <div>
                  
                </div> 
              </td>
            </tr>
          </table>
        </div>

        <div>
          <table class="mini-table my-3">
            <tr>
              <td class="mini-table-static">
                <div>Coaseguro:</div> 
              </td>
              <td>
                <div>
                  
                </div> 
              </td>
            </tr>
          </table>
        </div>

        <hr>

        <div>
          <table class="mini-table">
            <tr>
              <td class="mini-table-static-small">
                <div>ICD:</div> 
              </td>
              <td>
                <div>
                  
                </div> 
              </td>
            </tr>
          </table>
        </div>

        <div class="my-2">
          <table class="mini-table">
            <tr>
              <td class="mini-table-static-small">
                <div>CPT:</div> 
              </td>
              <td>
                <div>
                  
                </div> 
              </td>
            </tr>
          </table>
        </div>

        <div class="my-2">
          <table class="mini-table">
            <tr>
              <td class="mini-table-static-small">
                <div>CPT:</div> 
              </td>
              <td>
                <div>
                  
                </div> 
              </td>
            </tr>
          </table>
        </div>

      </td>

      <td class="px-3"> 
        <div>
          <div>Folio GNP Hospitalización</div>
          <section class="border border-dark form-control bg-light mx-1">
            
          </section>
        </div>

        <div class="my-3">
          <div>Reclamación</div>
          <section class="border border-dark form-control bg-light mx-1">
            
          </section>
        </div>

        <div>
          <div>Fecha Probable de ingreso</div>
          <section class="border border-dark form-control bg-light mx-1">
            
          </section>
        </div>

        <div class="my-3">
          <table class="mini-table">
            <tr>
              <td class="mini-table-static-large">
                <div>Solicitud Origen:</div> 
              </td>
              <td>
                <div>
                  
                </div> 
              </td>
            </tr>
          </table>
        </div>

        <div class="my-3">
          <div>Fecha de evento quírurgico</div>
          <section class="border border-dark form-control bg-light mx-1">
            
          </section>
        </div>
      </td>
    </tr>
  </table>
</div>
