
<%= form_for @provider, builder: CustomFormBuilder do |f| %>
    <%= f.form_error %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.field_error :name %>
    </div>
    <div class="form-group">
        <%= f.label :rfc %>
        <%= f.text_field :rfc, class: "form-control" %>
        <%= f.field_error :rfc %>
    </div>
    <div class="form-group">
        <%= f.label :responsable %>
        <%= f.text_field :responsable, class: "form-control" %>
        <%= f.field_error :responsable %>
    </div>
    <div class="form-group">
        <%= f.label :zone %>
        <%= f.text_field :zone, class: "form-control" %>
        <%= f.field_error :zone %>
    </div>
    <div class="form-group">
        <%= f.label :contact_person %>
        <%= f.text_field :contact_person, class: "form-control" %>
        <%= f.field_error :contact_person %>
    </div>
    <div class="form-group">
        <%= f.label :contact_number %>
        <%= f.text_field :contact_number, class: "form-control" %>
        <%= f.field_error :contact_number %>
    </div>
    <div class="form-group">
        <%= f.label :coinsurance %>
        <%= f.check_box :coinsurance %>
        <%= f.field_error :coinsurance %>
    </div>
    <div class="form-group">
        <%= f.hidden_field :is_new, value:!@provider.persisted? %>
    </div>
        
    <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
        <%= f.field_error :email %>
    </div>
    
    <%= f.submit 'Guardar', :class => 'btn btn-raised btn-primary float-right' %>
<% end %>