<% if can? :show, provider%>
    <tr>
        <th>
            <%= provider.name %>
        </th>
        <th>
            
            <%= provider.contact_person %>
        </th>
        <th>
            <%= provider.contact_number %>
        </th>

        <th>
            <%= link_to 'Editar', edit_provider_url(provider) %>
        </th>
    </tr>
<% end %>