<h1>Proveedores</h1>
<%= link_to 'Nuevo', new_provider_url, class: "btn btn-primary float-right" %>
<br/><br/>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Proveedor</th>
      <th>Contacto</th>
      <th>Tel</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @providers %>
  </tbody>
</table>