<div class="jumbotron">

<%
=begin %>
    <%= link_to edit_provider_url(current_user.providers), class: "float-right"  do %>
        <i class="fa fa-edit"></i>
    <% end %>
<%
=end %>

    <%# <a href="" class="float-right">Editar</a> %>
    <h1 class="display-4"><%= current_user.providers.first.name %></h1>
    <%# <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> %>
    <hr class="my-4">
    <p><strong>RFC: </strong> <%= current_user.providers.first.rfc %></p>
    <p><strong>Contacto: </strong> <%= current_user.providers.first.contact_person %></p>
    <p><strong>Número de Contacto: </strong> <%= current_user.providers.first.contact_number %></p>
    <p><strong>Zona: </strong> <%= current_user.providers.first.zone %></p>
    <hr class="my-4">
    <p>Persona Responsable GNP Carlos Jimenez </p>
    <p>
        <i className="fas fa-at space-r"></i>
        carlos.jimenezvargas@gnp.com.mx
    </p>
    <p>
        <i className="fas fa-phone-alt space-r"></i>
        52273999   Ext.81206
    </p>
</div>