<%- if current_user.roles.length == 1 and  current_user.has_role?(:providers) %>
    <%- if current_user.providers %>
        <%= render 'provider' %>
    <% else %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Parece que aún no has registrado tu información 
            como proveedor, puedes hacerlo
            <%= link_to 'Aqui', new_provider_url %>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% end %>
<% else %>

<% end %>