<h1>Programación de cirugia</h1>

<div class="table-responsive">
    <table class="table table-bordered">
    <thead>
        <tr>
        <th scope="col">Ticket CPO</th>
        <th scope="col">Tipo de Procedimiento</th>
        <th scope="col">Asegurado</th>
        <th scope="col">Médico Tratante</th>
        <th scope="col">Hospital</th>
        <th scope="col">Estado</th>
        <th scope="col">Procedimiento</th>
        <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <%- @sub_orders.each do |sub_order|%>
            <tr>
            <td> <%= sub_order.cpo %> </td>
            <td> <%= sub_order.order.order_type %> </td>
            <td> <%= sub_order.order.insured %> </td>
            <td> <%= sub_order.order.doctor.name %> </td>
            <td> <%= sub_order.order.hospital.name %> </td>
            <td> <%= sub_order.order.hospital.state %> </td>
            <td> <%= sub_order.order.procedure %> </td>
            <td>
            <%= link_to 'Ir', hospital_supervision_provider_order_path(sub_order.slug)%>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>