<%= react_component('Materials', { 
    authenticity_token: form_authenticity_token,
    sub_order: @sub_order,
    order: @sub_order.order,
    provider: current_user.providers.first,
    username: current_user.username,
    module: 'Proveedor Programacion de Cirugia'
}) %>
<br/><br/>

<%# <%= render 'documents/documents'%> 
<%# <%= render 'comments/comments' %>