<%= react_component('CancelationOrder',{
    sub_order: @sub_order,
    order: @sub_order.order,
    authenticity_token: form_authenticity_token,
    username: current_user.username,
    module: 'Cancelación' 
}) %>