<%= content_tag :div, nil, data: {controller: 'binnacle'} do %>
<h3 class="text-center">Bitacora de eventos registrados</h3>
    <input 
        type="text" 
        class="form-control" 
        data-target="binnacle.comment"
        data-action="input->binnacle#write_comment"
    />
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">USUARIO</th>
                <th scope="col">MODULO</th>
                <th scope="col">FECHA</th>
                <th scope="col">COMENTARIOS</th>
            </tr>
        </thead>
        <tbody>
            <%- @sub_order.order.order_comments.each do |comment|%>
                <tr>
                    <td><%= comment.user %></td>
                    <td><%= comment.module %></td>
                    <td><%= comment.created_at.strftime('%d-%m-%Y %I:%M:%S %P') %></td>
                    <td><%= comment.comment %></td>
                </tr>
            <% end %>
            <tr>
                <td><%= current_user.email %></td>
                <td>Proveedor Programacion de Cirugia</td>
                <td><%= Time.now().strftime('%d-%m-%Y %I:%M:%S %P') %></td>
                <td data-target="binnacle.writed_comment"></td>
                <%# <td><%= comment.datetime.strftime('%d-%m-%Y %I:%M:%S %P') %>
            </tr>
        </tbody>
    </table>
<% end %>