<%= react_component('ReportOrder', { 
    authenticity_token: form_authenticity_token,
    order: @order,
    provider: current_user.providers.first,
    username: current_user.username,
    module: 'Proveedor Reporte Hospitalario'
}) %>