
    <% if can? :show, hospital_supervision %>
        <tr>
            <td><%= hospital_supervision.cpo %></td>
            <% if hospital_supervision.coded %>
                <td style="color: green">
                    codificado
                </td>
            <% else %>
                <td style="color: red">
                    no codificado
                </td>
            <% end %>
            <td><%= hospital_supervision.order.order_type %></td>
            <td><%= hospital_supervision.order.insured %></td>
            <td><%= hospital_supervision.order.gnp_invoice %></td>
            <td><%= hospital_supervision.order.claim %></td>
            <td><%= hospital_supervision.order.hospital.name %></td>
            <td><%= hospital_supervision.order.hospital.state %></td>
            <td><%= hospital_supervision.order.doctor.name %></td>
            <td><%= hospital_supervision.provider.name %></td>
            <td>
                <%= link_to('Ver', hospital_supervision_path(hospital_supervision))%>       
            </td>
        </tr>
    <% end %>
