<h1>SUPERVISION HOSPITALARIA</h1>
<main data-controller="finders">
    <%= form_tag nil, remote: true, method: 'get', 'data': { action: 'submit->finders#submit', 'ajax-request-url': hospital_supervisions_path }  do %>
    
    <div class="row">
        <%= text_field_tag :search, params[:search], 'data': {target: 'finders.search'}, class: 'form-control col-11' %>
        <%= submit_tag 'Buscar', :name => nil, class: 'btn btn-primary col-1' %>
    </div>
    <% end %>
    <br><br>
    <%- if @sub_orders.size < 1  %>
        <div class="alert alert-danger" role="alert">
            No se encontro informacion.
        </div>
    <% end %>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Ticket CPO</th>
                <th scope="col">Codificado</th>
                <th scope="col">Tipo de trámite</th>
                <th scope="col">Asegurado</th>
                <th scope="col">Folio GNP</th>
                <th scope="col">Reclamación</th>
                <th scope="col">Hospital</th>
                <th scope="col">Estado</th>
                <th scope="col">Medico Tratante</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Ver</th>
            </tr>
            </thead>
            <tbody id="display">
                
                <%= render partial: 'hospital_supervisions/hospital_supervision', collection: @sub_orders %>
                
            </tbody>
        </table>
    </div>
    <%= will_paginate @sub_orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</main>