<%= form_for @user, builder: CustomFormBuilder do |f| %>

    <h3 style="color: #cb2431">Eliminar cuenta</h3>
    <div class="border-top my-3"></div>
    <div class="form-group">
        <%= f.hidden_field :active, class: "form-control", value: false %>
    </div>

    <%= f.submit 'Desactivar', :class => 'btn btn-raised btn-danger btn-lg btn-block' %>
<% end %>