
<%= form_for @user, builder: CustomFormBuilder do |f| %>
    <%= f.form_error %>

    <div class="form-group">
        <%= f.label :opera_module %><br />
        <%= f.select :opera_module, OperaModule.all.collect { |p| [ p.module_name, p.module_name ] } , {:include_blank=> "Selecciona"},{:class => "form-control"} %>
        <%= f.field_error :opera_module %>
    </div>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
        <%= f.field_error :email %>
    </div>
    <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>
        <%= f.field_error :username %>
    </div>
    
    <div class="form-group">
        <%= f.label :password %> <i>(déjelo en blanco si no desea cambiarlo)</i><br />
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control"%>
        <%= f.field_error :password %>
    </div>
    
    
        <%# <h2> %>
            <%# <%= @user.providers ? @user.providers.first.name : ''%>
        <%# </h2> %>
    
    <div class="row">
        <div class="col-3">
            <div class="jumbotron">
                <h3 class="display-6">Permisos</h3>
                <hr class="my-4">
                <div class="form-check">
                    <%= check_box_tag 'permissions[]', 'orders', @user.has_role?(:orders), class: "form-check-input" %>
                    <%= label_tag 'Solicitudes', nil , class:"form-check-label"  %>
                </div>
                <div class="form-check">
                    <%= check_box_tag 'permissions[]', 'users', @user.has_role?(:users), class: "form-check-input" %>
                    <%= label_tag 'Usuarios', nil , class:"form-check-label"  %>
                </div>
                <div class="form-check">
                    <%= check_box_tag 'permissions[]', 'providers', @user.has_role?(:providers), class: "form-check-input" %>
                    <%= label_tag 'Proveedor', nil , class:"form-check-label"  %>
                </div>
                <div class="form-check">
                    <%= check_box_tag 'permissions[]', 'providers_managment', @user.has_role?(:providers_managment), class: "form-check-input" %>
                    <%= label_tag 'Gestion de Proveedores', nil , class:"form-check-label"  %>
                </div>

                <div class="form-check">
                    <%= check_box_tag 'permissions[]', 'power_center', @user.has_role?(:power_center), class: "form-check-input" %>
                    <%= label_tag 'Centro de Inteligencia', nil , class:"form-check-label"  %>
                </div>

                <div class="form-check">
                    <%= check_box_tag 'permissions[]', 'medical_opinion', @user.has_role?(:medical_opinion), class: "form-check-input" %>
                    <%= label_tag 'Dictamen Medico', nil , class:"form-check-label"  %>
                </div>

                <div class="form-check">
                    <%= check_box_tag 'permissions[]', 'hospital_supervision', @user.has_role?(:hospital_supervision), class: "form-check-input" %>
                    <%= label_tag 'Supervision Hospitalaria', nil , class:"form-check-label"  %>
                </div>

                <div class="form-check">
                    <%= check_box_tag 'permissions[]', 'negotiation', @user.has_role?(:negotiation), class: "form-check-input" %>
                    <%= label_tag 'Negociacion', nil , class:"form-check-label"  %>
                </div>

                <div class="form-check">
                    <%= check_box_tag 'permissions[]', 'operational_consultation', @user.has_role?(:operational_consultation), class: "form-check-input" %>
                    <%= label_tag 'Consulta Operativa', nil , class:"form-check-label"  %>
                </div>
                <div class="form-check">
                    <%= check_box_tag 'permissions[]', 'cancelation', @user.has_role?(:cancelation), class: "form-check-input" %>
                    <%= label_tag 'Cancelación', nil , class:"form-check-label"  %>
                </div>
            </div>
        </div>
        <% if @user.new_record? %>
            <div class="col-9">
                <div class="jumbotron">
                    <h3 class="display-6">Asignación de Proveedor</h3>
                    <hr class="my-4">
                    <%= collection_radio_buttons(:provider, :id, @providers, :id, :name) do |b|%>
                        <div class="form-check">
                            <%= b.label(class: "form-check-label") do %>
                                <%= b.radio_button(class: "form-check-input") + b.text %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
        <% if @user.persisted? %>
            <div class="col-9">
                <%= react_component('UserHospitalCharge', {
                    user: @user,
                    authenticity_token: form_authenticity_token
                }) %>
            </div>
        <% end %>
    </div>
    <%= f.submit 'Guardar', :class => 'btn btn-raised btn-primary float-right' %>
<% end %>