<tr>
    <th>
    <%= user.email %>
    </th>
    <th>
        <%- user.roles.each do |role| %>
            <%- case role.name %>
            <% when "orders" %>
                <i class="fas fa-file-signature fa-2x"></i>
            <% when "users" %>
                <i class="fas fa-users fa-2x"></i>
            <% when "power_center" %>
                <i class="fas fa-brain fa-2x"></i>
            <% when "hospital_supervision" %>
                <i class="fas fa-syringe fa-2x"></i>
            <% when "negotiation" %>
                <i class="fas fa-user-tie fa-2x"></i>
            <% when "medical_opinion" %>
                <i class="fas fa-user-md fa-2x"></i>
            <% when "operational_consultation" %>
                <i class="fas fa-comments fa-2x"></i>
            <% when "providers_managment" %>
                <i class="fas fa-luggage-cart fa-2x"></i>
            <% else %>
                <i class="fas fa-truck fa-2x"></i>
            <% end  %>
        <% end %>
    </th>
    <th>
        <%= link_to 'Editar', edit_user_url(user) %>
    </th>
</tr>