<h1>Usuarios</h1>
<%= form_tag users_path, :method => 'get' do %>
  <div class="row">
    <%= text_field_tag :search, params[:search], class: 'form-control col-11', placeholder: 'email' %>
    <%= submit_tag 'Buscar', :name => nil, class: 'btn btn-primary col-1' %>
  </div>
<% end %>
<br><br>

<%= link_to 'Nuevo Usuario', new_user_url, class: "btn btn-primary float-left" %>

<br/><br/>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>email</th>
      <th>Permisos</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>

</table>
<%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>