<h1>DICTAMEN - CARTAS DE AUTORIZACIÓN</h1>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Ticket CPO</th>
            <th scope="col">Tipo de trámite</th>
            <th scope="col">Asegurado</th>
            <th scope="col">Folio GNP</th>
            <th scope="col">Reclamación</th>
            <th scope="col">Medico Tratante</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Monto de insumos</th>
            <th scope="col">Ver</th>
        </tr>
        </thead>
        <tbody>
        <%- @sub_orders.each do |sub_order|  %>
            <% if can? :show, sub_order %>
                <tr>
                    <td><%= sub_order.cpo %></td>
                    <td><%= sub_order.order.order_type %></td>
                    <td><%= sub_order.order.insured %></td>
                    <td><%= sub_order.order.gnp_invoice %></td>
                    <td><%= sub_order.order.claim %></td>
                    <td><%= sub_order.order.doctor.name %></td>
                    <td><%= sub_order.provider.name %></td>
                    <td>$<%= sub_order.to_pay %></td>
                    <td>
                        <%= link_to('Ver', provider_payment_path(sub_order))%>       
                    </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
</div>
<%= will_paginate @sub_orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>