<%= react_component('ProviderPaymentsOrder',{
    order: @sub_order.order,
    sub_order: @sub_order,
    authenticity_token: form_authenticity_token,
    username: current_user.username,
    module: 'Dictamen pago a proveedores' 
}) %>