<h1>Módulo de Negociación de Nuevos Insumos</h1>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Ticket CPO</th>
            <th scope="col">Tipo de Trámite</th>
            <th scope="col">Asegurado</th>
            <th scope="col">Folio GNP</th>
            <th scope="col">Hospital</th>
            <th scope="col">Estado</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Monto de insumos</th>
            <th scope="col">Ver</th>
        </tr>
        </thead>
        <tbody>
        <%- @sub_orders.each do |sub_order|  %>
            <tr>
                <td><%= sub_order.cpo %></td>
                <td><%= sub_order.order.order_type %></td>
                <td><%= sub_order.order.insured %></td>
                <td><%= sub_order.order.gnp_invoice %></td>
                <td><%= sub_order.order.hospital.name %></td>
                <td><%= sub_order.order.hospital.state %></td>
                <td><%= sub_order.provider.name %></td>
                <td>$<%= sub_order.to_pay %></td>
                <td>
                    <%= link_to('ver', new_supply_path(sub_order))%>       
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

<%= will_paginate @sub_orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>