<%= react_component('QualityOrder', { 
    authenticity_token: form_authenticity_token,
    sub_order: @sub_order,
    order: @sub_order.order,
    provider: @sub_order.provider,
    username: current_user.username,
    module: current_user.opera_module 
}) %>