<h1>ADMINISTRACIÓN DE CASOS</h1>
<%= form_tag case_managements_path, :method => 'get' do %>
  <div class="row">
    <%= text_field_tag :search, params[:search], class: 'form-control col-11' %>
    <%= submit_tag 'Buscar', :name => nil, class: 'btn btn-primary col-1' %>
  </div>
<% end %>
<br><br>
<%- if @sub_orders.size < 1  %>
    <div class="alert alert-danger" role="alert">
        No se encontro informacion.
    </div>
<% end %>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Ticket CPO</th>
            <th scope="col">Codificado</th>
            <th scope="col">Tipo de trámite</th>
            <th scope="col">Asegurado</th>
            <th scope="col">Folio GNP</th>
            <th scope="col">Reclamación</th>
            <th scope="col">Hospital</th>
            <th scope="col">Estado</th>
            <th scope="col">Medico Tratante</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Ver</th>
        </tr>
        </thead>
        <tbody>
        <%- @sub_orders.each do |sub_order|  %>
            <% if can? :show, sub_order %>
                            <tr>
                    <td><%= sub_order.cpo %></td>
                    <% if sub_order.coded %>
                        <td style="color: green">
                            codificado
                        </td>
                    <% else %>
                        <td style="color: red">
                            no codificado
                        </td>
                    <% end %>
                    <td><%= sub_order.order.order_type %></td>
                    <td><%= sub_order.order.insured %></td>
                    <td><%= sub_order.order.gnp_invoice %></td>
                    <td><%= sub_order.order.claim %></td>
                    <td><%= sub_order.order.hospital.name %></td>
                    <td><%= sub_order.order.hospital.state %></td>
                    <td><%= sub_order.order.doctor.name %></td>
                    <td><%= sub_order.provider.name %></td>
                    <td>
                        <%= link_to('Ver', case_management_path(sub_order))%>       
                    </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
</div>

<%= will_paginate @sub_orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>