<div class="jumbotron">
  <h1 class="display-6">DICTAMEN MEDICO</h1>
  <hr class="my-4">

  <div class="row">
    <div class="col sm-6">
      <p>Ticket - CPO07190001</p>
      <p>Asegurado: <%= @order.insured_name %></p>
      <p>Medico Tratante: <%= @order.doctor.name %></p>
      <p>Hospital: <%= @order.hospital.name %></p>

      <p>Coaseguro(%): <%= @order.coinsurance_percentage %></p>
      <p>Coaseguro Topado($): <%= @order.coinsurance_money %></p>
    </div>
    <div class="col sm-6">
      <p>Folio GNP: <%= @order.gnp_invoice %></p>
      <p>Reclamación: <%= @order.claim %></p>

      <p>Fecha de Cirugía: <%= @order.surgery_date %></p>
    </div>
  </div>
</div>

<%= react_component('DictumsOrder',{
    order: @order,
    authenticity_token: form_authenticity_token,
    username: current_user.email,
    module: current_user.opera_module 
}) %>