<h1>Nueva Solicitud</h1>

<%= react_component('OrderNewStepTwo', { 
    authenticity_token: form_authenticity_token,
    order: @order,
    hospital: @order.hospital,
    doctor: @order.doctor,
    username: current_user.username,
    module: 'Dictamen Médico'
}) %>