<h1>Pendientes en Dictamen</h1>

<div className="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">Ticket CPO</th>
        <th scope="col">Medico Tratante</th>
        <th scope="col">Hospital</th>
        <th scope="col">Tipo de Procedimiento</th>
        <th scope="col">Procedimiento</th>
        <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
  <%- @orders.each do |order| %>
    <% if can? :show, order %>
      <tr>
            <th><%= order.cpo %></th>
            <th><%= order.doctor.name %></th>
            <th><%= order.hospital.name %></th>
            <td><%= order.order_type %></td>
            <td><%= order.procedure %></td>
            <td><%= link_to 'Ir', edit_order_path(order)%></td>
        </tr>
    <% end %>
  <% end %>

  </tbody>
</table>
</div>

<%= will_paginate @orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>