<%= react_component('Materials', { 
    authenticity_token: form_authenticity_token,
    order: @order,
    provider: current_user.provider,
    username: current_user.username,
    module: current_user.opera_module 
}) %>
