<%= content_tag :div, nil, data: {controller: 'documents'} do %>
    <h3 class="text-center">Documentos</h3>
    <div class="row">
        <div class="col sm-4">
            <div class="form-group">
                <label htmlFor="exampleFormControlSelect1">Tipo de documento</label>
                <select 
                    class="form-control" 
                    id="exampleFormControlSelect1"
                    data-target="documents.document_type"
                    data-action="change->documents#set_document_type"
                >
                    <option disabled selected value> -- selecciona una opción -- </option>
                    <option>HOJA DE REMISION SELLADA</option>
                    
                </select>
            </div>
        </div>
        <div class="col sm-4">
            <div class="form-group">
                <div class="input-group file-input-group">
                    <input 
                        class="form-control" 
                        type="text" 
                        placeholder="No file selected" 
                        readonly 
                        data-target="documents.value"
                    >
                    <input 
                        type="file" 
                        class="form-control" 
                        accept="application/pdf"
                        id="customFile" 
                        data-target="documents.input" 
                        data-action="documents#display"
                    >
                    <div class="input-group-append">
                        <label class="btn btn-secondary mb-0" for="customFile">Choose file</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col sm-4 space-t-x">
            <button 
                class="btn btn-outline-primary"
                data-action="click->documents#upload"
            >
                Subir
            </button>
<%# 
            <div 
                class="space-l spinner-border text-primary" 
                
            >
                <span class="sr-only">Loading...</span>
            </div> %>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">DOCUMENTO</th>
                <th scope="col">USUARIO</th>
                <th scope="col">FECHA</th>
                <th scope="col">OPCIONES</th>
            </tr>
        </thead>
        <tbody>
        <%- @sub_order.documents.each do |document| %>
            <tr>
                <td><%= document.document_type%></td>
                <td><%= document.user%></td>
                <td><%= document.created_at.strftime('%d-%m-%Y %I:%M:%S %P')%></td>
                <td>
                    <%= link_to document.preview, target: :_blank do%>
                         <i class="fas fa-eye"></i>
                    <% end %>
                </td>
            </tr>
        <% end %>
        <tbody/>
    </table>
<% end %>