<div class="main">
  <%= form_for(resource, as: resource_name, class: 'form', url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <% if flash.alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= flash.alert %>
    </div>
  <% end %>
  <p class="sign" align="center">Acceso</p>
    <div class="form-group">
      <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control auth", placeholder: "correo electrónico" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control auth", placeholder: "contraseña" %>
    </div>

    <div class="actions">
      <%= f.submit "Acceder", class: "btn btn-primary submit", align: "center" %>
    </div>
  <% end %>
</div>

