<%= react_component('MaterialNegotiation', { 
    authenticity_token: form_authenticity_token,
    sub_order: @sub_order,
    order: @sub_order.order,
    username: current_user.username,
    module: 'Negociación Insumos' 
}) %>