<%= react_component('ProviderDeliveriesOrder', { 
    authenticity_token: form_authenticity_token,
    order: @sub_order.order,
    sub_order: @sub_order,
    provider: current_user.providers.first,
    username: current_user.username,
    module: 'Proveedor Entrega'
}) %>