<h1>CENTRO DE INTELIGENCIA</h1>
<%= form_tag intelligence_centers_path, :method => 'get' do %>
  <div class="row">
    <%= text_field_tag :search, params[:search], class: 'form-control col-11' %>
    <%= submit_tag 'Buscar', :name => nil, class: 'btn btn-primary col-1' %>
  </div>
<% end %>
<br><br>
<%- if @sub_orders.size < 1  %>
    <div class="alert alert-danger" role="alert">
        No se encontro informacion.
    </div>
<% end %>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Ticket CPO</th>
            <th scope="col">Tipo de Trámite</th>
            <th scope="col">Asegurado</th>
            <th scope="col">Folio GNP</th>
            <th scope="col">Reclamación</th>
            <th scope="col">Ver</th>
        </tr>
        </thead>
        <tbody>
        <%- @sub_orders.each do |sub_order|  %>
            <% if can? :show, sub_order %>
                <tr>
                    <td><%= sub_order.cpo %></td>
                    <td><%= sub_order.order.order_type %></td>
                    <td><%= sub_order.order.insured %></td>
                    <td><%= sub_order.order.gnp_invoice %></td>
                    <td><%= sub_order.order.claim %></td>
                    <td>
                        <%= link_to('Ver', intelligence_center_path(sub_order))%>       
                    </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
</div>
<%= will_paginate @sub_orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>