
<%= react_component('IntelligenceCenterOrder',{
    order: @sub_order.order,
    sub_order: @sub_order,
    authenticity_token: form_authenticity_token,
    username: current_user.username,
    module: 'Centro de Inteligencia'
}) %>