.space-r{
    margin-right: 10px;
}
.space-l{
    margin-left: 10px;
}
.space-t-x{
    padding-top: 25px !important;
}
.space-t{
    padding-top: 35px !important;
}

.general-container{
    max-height: 30px !important;
    padding-bottom: 200px;
}
.no-margin{
    margin: 0px;
}