body.landingPage {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    
    backface-visibility: hidden;
    animation: slideBackGround 20s linear infinite 10s;
    animation-timing-function: ease-in-out;
    background-image: image-url("wallpaper.png");
}

@keyframes slideBackGround {
    0% {
        background-image: image-url("wallpaper.png");
    }
    25% {
        background-image: image-url("wallpaper2.png");
    }
    50% {
        background-image: image-url("wallpaper4.png");
    }
    75% {
        background-image: image-url("wallpaper3.png");
    }
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.sign {
    padding-top: 40px;
    color: #0055B8;
    font-size: 23px;
}
input.auth {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}
form.form {
    padding-top: 40px;
}
.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #FFFFFF !important;
    background: linear-gradient(to right, #4E73DF, #0055B8);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    font-size: 13px;
  }
  
  .forgot {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      color: #E1BEE7;
      padding-top: 15px;
  }
  

