<h1>SOBREUTILIZACIÓN</h1>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Ticket CPO</th>
            <th scope="col">Tipo de Programación</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Asegurado</th>
            <th scope="col">Médico Tratante</th>
            <th scope="col">Hospital</th>
            <th scope="col">Estado</th>
            <th scope="col">Procedimiento</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <%- @sub_orders.each do |sub_order|  %>
            <% if can? :show, sub_order %>
                <tr>
                    <td><%= sub_order.cpo %></td>
                    <td><%= sub_order.order.order_type %></td>
                    <td><%= sub_order.provider.name %></td>
                    <td><%= sub_order.order.insured %></td>
                    <td><%= sub_order.order.doctor.name %></td>
                    <td><%= sub_order.order.hospital.name %></td>
                    <td><%= sub_order.order.hospital.state %></td>
                    <td><%= sub_order.order.procedure %></td>
                    <td>
                        <%= link_to('Ir', overuse_path(sub_order))%>       
                    </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
</div>

<%= will_paginate @sub_orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>