<h1>Reporte Global</h1>

<%= 
    link_to 'Descargar Excel',
    global_report_path(format: :xlsx),
    class: 'btn btn-success'
%>
<br/><br/>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>CPO</th>
                <th>Proveedor</th>
                <th>Doctor</th>
                <th>Hospital</th>
                <th>Padecimiento</th>
                <th>Fecha de cirugia</th>
                <th>Reclamación</th>
                <th>Folio GNP</th>
                <th>Coaseguro</th>
                <th>Coaseguro</th>
                <th>Asegurado</th>
                <th>Procedimiento</th>
                <th>ICD</th>
                <th>CPT</th>
            </tr>
        </thead>
        <tbody>
        <%- @sub_orders.each do |sub_order| %>
            <tr>
                <td><%= sub_order.cpo%></td>
                <td><%= sub_order.provider.name%></td>
                <td><%= sub_order.order.doctor.name %></td>
                <td><%= sub_order.order.hospital.name %></td>
                <td><%= sub_order.order.suffering %></td>
                <td><%= sub_order.order.surgery_date %></td>
                <td><%= sub_order.order.claim %></td>
                <td><%= sub_order.order.gnp_invoice %></td>
                <td><%= "#{sub_order.order.coinsurance_percentage}%" %></td>
                <td><%= "$#{sub_order.order.coinsurance_money}" %></td>
                <td><%= sub_order.order.insured_name%></td>
                <td><%= sub_order.order.procedure %></td>
                <td><%= sub_order.order.icd %></td>
                <td><%= sub_order.order.cpt %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
