<!DOCTYPE html>
<html>
  <head>
    <title>Opera</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body id="page-top">
    <% if current_user %>
      <%= auto_session_timeout_js %>
    <% end %>
  <div id="wrapper">
      <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
      
       <%= image_tag ('logo_white.png'), class: 'nav_logo', id: 'nav_logo' %>

      </a>
      <br/><br/>
    <%- if current_user.has_role?(:users) %>  
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport" aria-expanded="true" aria-controls="collapseReport">
          <span>REPORTES</span>
        </a>
        <div id="collapseReport" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <%= link_to 'Global', global_report_url, class: 'collapse-item' %>            
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdministration" aria-expanded="true" aria-controls="collapseAdministration">
          <span>ADMINISTRACION</span>
        </a>
        <div id="collapseAdministration" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <%= link_to 'Usuarios', users_url, class: 'collapse-item' %>            
              <%= link_to 'Proveedores', providers_url, class: 'collapse-item' %>  
          </div>
        </div>
      </li>
    <% end %>
    <%- if current_user.has_role?(:medical_opinion) %>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQuery" aria-expanded="true" aria-controls="collapseQuery">
          <span>DICTAMEN</span>
        </a>
        <div id="collapseQuery" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to 'Dictamen Medico', new_order_url, class: 'collapse-item' %>
            <%= link_to 'Pago a Proveedor', provider_payments_url, class: 'collapse-item' %>
            <%= link_to 'Consulta Operativa', operational_consultings_url, class: 'collapse-item' %>
            <%= link_to 'Pendientes', pending_orders_url, class: 'collapse-item' %>
          </div>
        </div>
      </li>
    <% end %>
    
    <%- if current_user.has_role?(:hospital_supervision) %>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHospitalSupervision" aria-expanded="true" aria-controls="collapseHospitalSupervision">
          <span>SUPERVISION HOSPITALARIA</span>
        </a>
        <div id="collapseHospitalSupervision" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to 'Solicitudes', hospital_supervisions_url, class: 'collapse-item' %>
            <%= link_to 'Administración de Casos', case_managements_url , class: 'collapse-item' %>
            <%= link_to 'Consulta Operativa', operational_consultings_url, class: 'collapse-item' %>
          </div>
        </div>
      </li>
    <% end %>

    <%- if current_user.has_role?(:power_center) %>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCDI" aria-expanded="true" aria-controls="collapseCDI">
          <span>CENTRO DE INTELIGENCIA</span>
        </a>
        <div id="collapseCDI" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to 'Solicitudes', intelligence_centers_url, class: 'collapse-item' %>
          </div>
        </div>
      </li>
    <% end %>
    <%- if current_user.has_role?(:providers) %>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProvider" aria-expanded="true" aria-controls="collapseProvider">
          <span>PROVEEDOR</span>
        </a>
        <div id="collapseProvider" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to 'Reporte Hospitalario', report_orders_url, class: 'collapse-item' %> 
            <%= link_to 'Programacion de cirugia', hospital_supervision_provider_orders_url, class: 'collapse-item' %>
            <%= link_to 'Entrega', provider_deliveries_url, class: 'collapse-item' %>
            <%= link_to 'Calidad', provider_qualities_url , class: 'collapse-item' %>
            <%= link_to 'Consulta Operativa', operational_consulting_providers_url, class: 'collapse-item' %>
          </div>
        </div>
      </li>
    <% end %>
    <%- if current_user.has_role?(:negotiation) %>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGESTIONP" aria-expanded="true" aria-controls="collapseGESTIONP">
          <span>NEGOCIACION</span>
        </a>
        <div id="collapseGESTIONP" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to 'Gestion de proveedores', provider_negotiations_url, class: 'collapse-item' %>
            <%= link_to 'Gestion de insumos', material_negotiations_url, class: 'collapse-item' %>
            <%= link_to 'Extemporánea', extemporaneous_url, class: 'collapse-item' %>
            <%= link_to 'Nuevos Insumos', new_supplies_url, class: 'collapse-item' %>
            <%= link_to 'Consulta Operativa', operational_consultings_url, class: 'collapse-item' %>
            <%= link_to 'Sobreutilización', overuse_index_url, class: 'collapse-item' %>
          </div>
        </div>
      </li>
    <% end %>
    <%- if current_user.has_role?(:cancelation) %>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCANCEL" aria-expanded="true" aria-controls="collapseCANCEL">
          <span>CANCELACIÓN</span>
        </a>
        <div id="collapseCANCEL" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to 'Cancelaciones', cancelations_url, class: 'collapse-item' %> 
          </div>
        </div>
      </li>
    <% end %>
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                
              </a>
            </li>

           

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                  <%= current_user.email %>
                </span>
                
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <%= link_to('Logout', destroy_user_session_path, class: "dropdown-item", method: :delete) %>  
              </div>
            </li>

          </ul>

        </nav>

    <div class="container-fluid">
      <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>" role="alert">
            <%= value %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      <% end %>

      <%= yield %>
    </div>

    </div>

    </div>
  </body>
</html>
