<!DOCTYPE html>
<html>
  <head>
    <title>Opera</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="landingPage">
    <% if current_user %>
      <%= auto_session_timeout_js %>
    <% end %>
    <%= yield %>
  </body>
</html>