<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">	
	<%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	<title></title>

	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container-fluid">
	<%= yield %>
</body>
</html>